@model ReservationSystem.Models.Reservation.Create

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

<div class="row text-center">
	<h1 class="fs-2 mt-3 text-primary">Book a Reservation</h1>
</div>

<div class="justify-content-center d-flex p-4">
	<div class="col-md-4 me-4">
		<partial name="_Calendar" class="border border-2" />
	</div>
	<div class="col-md-4">
		<form asp-action=Create>
			<partial name="_ReservationFormPartial" for="ReservationForm" />
			<div class="d-grid gap-2">
				<button type="submit" class="btn btn-success">Submit</button>
			</div>
			<input type="hidden" asp-for=SittingId />
		</form>
	</div>
</div>
@section Scripts{
	<script src="/js/calendar.js"></script>
	<script src="~/js/calendarPartial.js"></script>
}