@model ReservationSystem.Models.Reservation.Create

@{
	ViewData["Title"] = "ReservationForm";
}
<h1 class="display-4 text-primary pb-4 fw-4">Reservation Form</h1>
<h1>@Model.StartTime - @Model.EndTime</h1>
<div class="col-md-6 offset-md-3">
	<form asp-action=Create>
		<div>
			<partial name="_ReservationFormPartial" for="ReservationFormPartial" />
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</form>
</div>
