@model ReservationSystem.Models.Reservation.Create

<div class="row text-center">
	<h1 class="display-4 text-primary pb-4 fw-4">Reservation Form</h1>
	<h2>@Model.StartTime - @Model.EndTime</h2>
</div>

<div class="col-md-6 offset-md-3">
	<form asp-action=Create>
		<partial name="_ReservationFormPartial" for="ReservationForm" />
		<div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
		<input asp-for=SittingId />
	</form>
</div>
