@{
}

<h1>Admin Home</h1>

@if(User.IsInRole("Manager")){
    <a type="button" class="btn btn-primary" asp-controller="Sitting" asp-action="Create">Add Sitting</a>
    <br/>
}
<a type="button" class="btn btn-primary" asp-controller="Sitting" asp-action="Index">View Sittings</a>
<br/>
<a type="button" class="btn btn-primary" asp-controller="Reservation" asp-action="Index">View Reservations</a>
