@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Admin Home</h1>

<a type="button" class="btn btn-primary" asp-controller="Home" asp-action="AddSitting">Add Sitting</a>
<br/>
<a type="button" class="btn btn-primary" asp-controller="Home" asp-action="Sittings">View Sittings</a>
