<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/theme.css" />

<div class="calendar-container"></div>

<div id="sittings-partial"></div>



<div id="accordian-template" style="display:none">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="sitting-times-header">
                <button id="sitting-times-header-button" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                </button>
            </h2>
            <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body" id="sitting-times-accordian-body">
          
                </div>
            </div>
        </div>
    </div>
</div>