@using System.Security.Policy
@model ReservationSystem.Areas.Admin.Models.User.Index
@{
	var users = Model.Users;
	ViewData["Title"] = "Users";
}

<div class="container text-center">
	<h1 class="fs-2 mt-3 text-primary">Users</h1>
	<div class="d-flex justify-content-end mb-4">
		<a type="button" class="btn btn-primary" asp-controller="User" asp-action="Create">Create User</a>
	</div>
	<table class="table table-hover table-striped">
		<thead class="table-primary">
			<tr>
				<th>Email</th>
				<th>Roles</th>
				<th>Edit</th>
				<th>Remove</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var u in Model.Users)
			{
				<tr>
					<td>@u.Email</td>
					<td>
						@if (u.Roles.Count > 0)
						{
							<p>@u.Roles[0]</p>
						}
						else
						{
							<p>None</p>
						}
					</td>
					<td>
						<a type="button" class="btn btn-primary" asp-controller="User" asp-action="Edit" asp-route-UserId="@u.Id">Edit User</a>
					</td>
					<td>
						<a type="button" class="btn btn-danger" asp-controller="User" asp-action="Remove" asp-route-UserId="@u.Id">Remove User</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
