<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/theme.css" />


<div class="d-flex flex-column me-4">
	<div class="row">
		<div id="sitting-date-card" class="card col-4 my-4" style="display:none">
			<div id="sitting-date" class="card-body" style="display:none">
			</div>
		</div>
		<button id="calendar-show" class="btn btn-success my-4 col-8 ps-0" style="display:none">Return to Calendar</button>
	</div>
	<div class="calendar-container border border-3"></div>
	<div class="" id="sittings-partial"></div>
</div>


<div class="accordion" id="accordionExample" style="display:none">
	<div class="accordion-item">
		<h2 class="accordion-header" id="sitting-times-header">
			<button id="sitting-times-header-button" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="false" aria-controls="collapse">
			</button>
		</h2>
		<div id="collapse" class="accordion-collapse collapse" aria-labelledby="sitting-times-header" data-bs-parent="#accordionExample">
			<div class="accordion-body" id="sitting-times-accordian-body">
			</div>
		</div>
	</div>
</div>

