@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div>
        <img src="~/images/restaurant-banner.jpg" style="object-fit: cover; height: 400px; width: 100%;"/>
    </div>
    <div class="text-center py-5">
        <div class="container">
            <h1 class="display-4 text-primary pb-4 fw-bold">Bean Scene</h1>
            <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non ex eget nisl tempor auctor ut quis sem. Proin elementum facilisis nulla ut rutrum. Ut eu vehicula nulla, ac interdum nisl. Ut vitae odio sed nisl facilisis mattis sed auctor ipsum. Phasellus consectetur nibh eget risus aliquet, nec tempor mauris rutrum. Sed ornare elit non tempus aliquet. Nunc nibh nibh, iaculis id semper ut, pulvinar vel justo.</p>
            <div class="pt-4"  style="font-size: 20px">
                <button type="button" class="btn btn-primary btn-lg">Make a booking</button>
            </div>
        </div>
    </div>
    <div class="text-center py-5 bg-dark">
        <div class="container">
            <h2 class="text-primary">Have any questions?</h2>
            <div class="pt-4" style="font-size: 20px">
                <button type="button" class="btn btn-primary btn-lg">Contact us</button>
            </div>
        </div>
    </div>
</div>
