@model ReservationSystem.Areas.Admin.Models.Reservation.Create
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/theme.css" />
@{
	ViewData["Title"] = "Add Reservation";
	var start = Model.StartTime.ToString("hh:mm");
	var end = Model.EndTime.ToString("hh:mm");
	var todaysDate = DateTime.Now;
}

<h1 class="display-4 text-primary pb-4 fw-4">Add Reservation</h1>
@if(Model.SittingId != 0)
{
<h1>@Model.StartTime - @Model.EndTime</h1>
}


<div class="col-md-6 offset-md-3">
	<form asp-area=Admin asp-controller=Reservation asp-action=Create>
		<div class="form-group">
			<label for="firstName">First Name</label>
			<input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter first name" required>
		</div>
		<div class="form-group">
			<label for="lastName">Last Name</label>
			<input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter last name" required>
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
		</div>
		<div class="form-group">
			<label for="phone">Phone Number</label>
			<input type="number" class="form-control" id="phone" name="phone" placeholder="Enter Phonenumber">
		</div>
		<div class="form-group">
			<label for="date&time">Date & Time</label>
			<input type="datetime" class="form-control" id="date&time" name="date&time">
		</div>
		<div class="form-group">
			<label for="numpeople">Number Of People</label>
			<input type="number" class="form-control" id="numpeople" name="numpeople">
		</div>
		<div class="form-group">
			<label for="comments">Comments</label>
			<input type="text" class="form-control" id="comments" name="comments">
		</div>

		<div class="calendar-container"></div>

		<div class="form-group">
			<p>Reservation Status: </p>
			<select asp-for=ReservationStatusId asp-items=Model.ReservationStatus></select>
		</div>
		<div class="form-group">
			<p>Reservation Origin: </p>
			<select asp-for=ReservationOriginId asp-items=Model.ReservationOrigin></select>
		</div>

		@if(Model.SittingId == 0)
		{
		<div class="form-group">
			<p>Sitting: </p>
			<select asp-for=SittingId asp-items=Model.Sittings></select>
		</div>
		}

		<div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
		<input type="hidden" asp-for=SittingId />
	</form>
</div>

@section Scripts{
	@*<script src="/js/calendar.min.js"></script>
	<script src="/js/calendar.js"></script>

	<script>
	function selectDate(date) {
	$('.calendar-container').updateCalendarOptions({
    date: date
  });
  /*
  var selectedDate = calendar.getSelectedDate();
  $("#datetime").val(selectedDate);
  */
}

var defaultConfig = {
  weekDayLength: 1,
  date: "@todaysDate",
  onClickDate: selectDate,
  showYearDropdown: true,
  startOnMonday: false,
};
	var calendar = $('.calendar-container').calendar(defaultConfig);
	console.log(calendar.getSelectedDate());
	</script>*@
}