@model ReservationSystem.Areas.Admin.Models.Reservation.Create

@{
	ViewData["Title"] = "Add Reservation";
}
<div class="row text-center">
	<h1 class="display-4 text-primary pb-4 fw-4">Add Reservation</h1>
	@if (Model.SittingId != 0)
	{
		<h2>@Model.StartTime - @Model.EndTime</h2>
	}
</div>
<div class="row">
	<div class="col-md-5 offset-md-1">
		<partial name="_Calendar" />
	</div>
	<div class="col-md-5 ">
		<form asp-area=Admin asp-controller=Reservation asp-action=Create>
			<partial name="_ReservationFormPartial" for="ReservationForm" />
			<partial name="_AdminReservationFormPartial" for="AdminReservationForm" />
			@if (Model.SittingId == 0)
			{
				<div class="form-group">
					<p>Sitting: </p>
					<select asp-for=SittingId asp-items=Model.Sittings></select>
				</div>
			}
			<div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
			<input type="hidden" asp-for=SittingId />
		</form>
	</div>
</div>

@section Scripts{
<script src="/js/calendar.js"></script>
<script src="~/js/calendarPartial.js"></script>
}

