@using System.Security.Policy
@model ReservationSystem.Areas.Member.Models.Reservation.Index
@{
	ViewData["Title"] = "My Reservations";
}

<div class="container text-center">
	<h1 class="display-3 text-primary pb-3 fw-3">Reservations</h1>
	@if(Model.Reservations.Length > 0){
		<table class="table table-hover table-striped" >
			<thead class="table-primary">
				<tr>
					<th>Start Time</th>
					<th>Guests</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var r in Model.Reservations)
				{	
				<tr> 
					<td>@r.DateTime</td>
					<td>@r.Guests</td>
					<td>@r.Status</td>
				</tr>
				}
			</tbody>
		</table>
	}
	else
	{
		<h2>You currently have no reservations!</h2>
	}
</div>
